<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet --> 
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <!-- Navbar (sit on top) -->
  <div class="w3-top">
      <div class="w3-bar w3-white w3-wide w3-padding w3-card-2">
          <a href="#home" class="w3-bar-item w3-button"><b>BR</b> Home</a>
          <!-- Float links to the right. Hide them on small screens -->
          <div class="w3-right w3-hide-small">
             <a href="#projects" class="w3-bar-item w3-button">Projects</a>
             <a href="#about" class="w3-bar-item w3-button">About</a>
             <a href="#contact" class="w3-bar-item w3-button">Contact</a>
          </div>
      </div>
  </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div><!-- /.container --> 
    <footer>
      <ul>
        <li><a href="mailto:smj2mm@virginia.edu">email</a></li>
        <li><a href="https://github.com/smj2mm">github.com/smj2mm</a></li>
      </ul>
    </footer>
  </body>
</html>
